*{
    margin: 0;
    padding: 0;
}

nav{
    overflow: hidden;
    position: fixed;
    background-color: #123;
    height: 6vh;
    width: 100%;
    align-items: center;
    text-align: center;
    
   
} 

main{
    background: url("wallpaperflare.com_wallpaper.jpg") no-repeat center center;
    background-size: cover;
    height: 94vh;
}

nav a { 
   
    margin-top: 5%;
    
    float: left;    
    color:lightblue;
    text-decoration: none;
    font-size: 38px;
}

.nav-list{
    display: flex;
    
}

.nav-list li{
    letter-spacing: 3px;
    list-style: none;
    margin-left: 15px;
   
}

nav a:hover {
    background-color: rgb(8, 24, 68);
    color:white;
}

nav a.active {
    
    background-color:rgb(16, 43, 73);
    color: rgb(245, 245, 245);
}

.content{
  
   
  /** background: url("wallpaperflare.com_wallpaper.jpg") no-repeat center center;**/
    background-attachment:local;
    color:aliceblue;
    background-size: cover;   
    background:rgb(7, 21, 37);
    padding: 16px;
    padding-top: 70px;
}

.stick{
    position: sticky;
    top: 0;
    width: 100%;

}

.sticky + .content {
    padding-top: 60px;
  }
