#navbar{
    overflow: hidden;
    background-color: #123;
}
#navbar a { 
    float:left; 
    display: block;
    color:lightblue;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;

}
#navbar a:hover {
    background-color: darkslategrey;
    color:white;
}

#navbar a.active {
    background-color: rgb(16, 43, 73);
    color:rgb(245, 245, 245);
}

.stick{
    top: 0;
    width: 100%;
    position: fixed;

}
.content{
    padding: 10px;
 
}
.sticky + .content {
    padding-top: 60px;
  }
